/* 全てのページに適用される設定 */
*{
    box-sizing: border-box;
    margin: 0;
}
body{
    margin: 0 0 0 0;
}
html{
    font-size: 16px;
    font-family: serif;
}
p,li,td{
    line-height: 1.7;
}
a:link{
    color: #253958;
    text-decoration: none;
}
a:visited{
    color: #253958;
    text-decoration: none;

}
a:hover{
    color: #253958;
    text-decoration: underline;
}
a:active{
    color: #253958;
    text-decoration: underline;
}
img{
    max-width: 100%;
    text-align: center;
}
/* すべてのページに適用 - ヘッダー */
.header{
    padding-top: 40px;
}
.top{
    width: 300px;
    margin: 0 auto;
}

.logo{
    text-align: center;

}
.nav ul{
    justify-content: center;
}


/* .nav ul{

    margin: 30px 0 0 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    column-gap: 60px;
    justify-content: center;
} */
/* すべてのページに適用 - ヒーロー */

.hero{
    background-repeat: no-repeat;/*書かなくてもいい*/
    background-size: contain;/*画像の塗りつぶしor cover*/
    background-position: center;
    color: #ffffff;
}
.hero.index{
    padding: 280px 50px;
    background-image: url(../images/top-pic.png);
    text-align: right;


}


/* すべてのページに適用 - メイン */
.supplier{
        flex-wrap: wrap;
}
main{
    margin: 90px auto 90px auto;
    max-width: 1000px;
}
main h2 {
    margin: 120px 0 20px 0;
    border-bottom: 2px solid #253958;
    padding: 0 0 5px 0;
    color: #253958;
    font-size: 1.3rem;  
}
nav ul{
    justify-content: left;
    display: flex;
    flex-wrap: wrap;
    margin: 30px 0 0 0;
    padding: 0;
    list-style-type: none;
    padding-left: 0;
    column-gap: 60px;
}


/* すべてのページに適用 - フッター */
.gotop{
    text-align: center;
}
.copyright{
    margin-bottom: 0;
    padding-top: 75px;
    padding-bottom: 55px;
    background-color: #253958;
    color: #FFFFFF;
    text-align: center;
}

/* 個別のスタイル */
/* index.html */
.shop-info{
    border-collapse: collapse;
}
.shop-info th,.shop-info td{
    border: 1px solid #DBDBDB;
    padding: 20px;
}
.shop-info th{
    width: 166px;
}
/*モバイル対応*/
@media(max-width: 767px){
  nav ul{
    gap: 20px;
}

main{
    width: 95%;
    padding: 0 2rem;
}

}/*モバイル対応ここまでmediaクエリ用閉め*/